__pycache__/
*.py[cod]

# Data and large files
data/
data/ml-latest-small/
*.csv
*.zip

# Virtual environments
venv/
env/

# IDE / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
refactor_with_comments/
